<div class="container"> <!-- ここを追加 -->
		<div class="row">

			<div class="col-xs-3">
				<%= render 'users/list', user: current_user %>
				<%= render 'blogs/list', blog: @blog %>
			</div>


<div class="col-lg-9">

	<h1 class="Books">Books</h1>
	<section class=tablebox>
					<table class="table">
						<thead>
							<tr>
								 <th class="bookbox1">Title</th>
								 <th class="bookbox2">Opinion</th>

								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>